
<div class="fb-login-button" 
data-width="" 
data-size="" 
data-button-type="" 
data-layout=""
data-onlogin="FbLogin"
data-config_id="1250827459390255"
data-auto-logout-link="false"
data-use-continue-as="false"> Login
</div>

<span id="fbLogout" onclick="fbLogout()"><a class="fb_button fb_button_medium"><span class="fb_button_text">Logout</span></a></span>

<div id="status">
</div>


<div id="list-page">
    <h1>List page</h1>
    <div id="item-page">


    </div>
</div>

<script>

    function fbLogout() {
        FB.logout(function (response) {
            debugger
            window.location.reload();
            //Do what ever you want here when logged out like reloading the page
        });
    }

    function FbLogin() {               // Called when a person is finished with the Login Button.
        FB.getLoginStatus(function (response) {   // See the onlogin handler
            statusChangeCallback(response);
        });
    }


    function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
        console.log('statusChangeCallback');
        console.log(response);                   // The current login status of the person.
        if (response.status === 'connected') {   // Logged into your webpage and Facebook.
            testAPI();
            $(".fb-login-button").hide();
            $("#fbLogout").show();

        } else {                                 // Not logged into your webpage or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this webpage.';
            $(".fb-login-button").show()
            $("#fbLogout").hide();


        }
    }


    function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
        console.log('Welcome!  Fetching your information.... ');
        document.getElementById('fbLogout').style.visibility = "visible";

        FB.api('/me', function (response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.name + '!';
        });

        FB.api('/me/accounts', function (response) {
            debugger
            console.log(response);




        });
    }


    window.fbAsyncInit = function () {
        FB.init({
            appId: '778159837632642',
            cookie: true,                     // Enable cookies to allow the server to access the session.
            xfbml: true,                     // Parse social plugins on this webpage.
            version: 'v20.0'           // Use this Graph API version for this call.
        });


        FB.getLoginStatus(function (response) {   // Called after the JS SDK has been initialized.
            statusChangeCallback(response);        // Returns the login status.
        });
    };



</script>


<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

