@{
    ViewData["Title"] = "Privacy Policy";
}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v20.0&appId=3813669555512582" nonce="GS9keIhR"></script>
<h1>@ViewData["Title"]</h1>

<div class="fb-login-button" data-width="" data-size="" data-button-type="" data-layout="" data-auto-logout-link="false" data-use-continue-as="false">Click</div>